.cate_left {
	width:80px;
	height: 100%;
	background: #f6f6f6;
	float: left;
	overflow: hidden;
}
.cate_left li{
	border-bottom:1px solid #e6e6e6; 
	border-right:1px solid #e6e6e6; 
}
.cate_left li.active {
	border-right: 0;
	background: #fff;
}

.cate_left li a {
	display: block;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #bbb;
}
.cate_left li.active a{
	color: #04729e;
}
.cate_right {

	overflow: hidden;
	padding: 8px 0;
	background: #fff;
	height: auto;
	margin: 0 auto;
}
.cate_right li {
	width: 33.333%;
	float: left;
	text-align: center;
	
}
.cate_right li a {
	display: block;
	width: 100%;

}
.cate_right li a img {
	width: 80%;
	margin: 0 auto;
	display: block;
}